* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "calt";
}

span.font-setting-ss02 {
    font-feature-settings: "ss02", "cv08";
}

.main img {
    border-radius: 8px;
}

.vp-doc > div > h1, h1.styled {
    font-size: 36px;
    margin-top: 0 !important;
    padding-top: 0;
}
.vp-doc > div > h2, h2.styled {
    border: 0px;
}

/* @todo move to global theme */
.h-label {
    text-transform: uppercase !important;
    font-size: 13px;
}

/* Custom page classes */
.p-landing-768 {
    .VPDoc:not(.has-aside, .has-sidebar) > .container > .content, 
    .VPDoc:not(.has-sidebar) .container {
        max-width: 768px !important;
        padding: 0px !important;
    }
}

.p-careers {
    background-image: url(../home/background.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    h2.h-homepage {
        margin-top: 0 !important;
        padding-top: 0;
        border: 0;
    }
}

.p-home--design {
    background-image: url(../home/background.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}

/* Custom tabs -> Pill style */

.Tabs_Design--custom {
    .Tabs_button {
        background: #fff;
        border-radius: 8px;
        --un-border-opacity: 0;
        color: #3D3E42;
        padding: 12px 16px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 16.8px */
    }
    .Tabs_button.--active {
        background-color: #F2F3F8;
        --un-border-opacity: 0;
        border-color: rgb(209 213 219 / var(--un-border-opacity));
        --un-text-opacity: 1;
        color: #474A57;
    }
    .Tabs_buttons {
        display: flex;
        gap: 4px;
        border: 1px solid #CDCED4;
        width: fit-content;
        padding: 4px;
        border-radius: 12px;
        }
        .Tab_slot,.Tabs_slot {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0px;
        padding-bottom: 0.25rem;
        background-color: #fff!important;
        }
}

.w-fill-flex {
    width: -webkit-fill-available;
}
.h-fit-flex {
    height: -webkit-fit-content;
}

/* @todo move to global hub components */
.btn.--contrast, .vp-doc .btn.--contrast {
    --btn-bg: #2D2E32;
    height: 40px;
    padding: 16px;
    color: #FFF;

    /* Inter/Desktop/Text/xs/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
    }
    .btn.--contrast:hover, .vp-doc .btn.--contrast:hover {
        background-color: #3D3E42!important;
    }

    .cursor-dog { 
        cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAZCAMAAAD63NUrAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFZJREFUeNqdzksKwDAIAFHH+x+6lIYOVPOhs5OHJnES/5UkYKEkU7xjijSIm50iFh4fAXgYDd/yumVVRSwsqq/nRA3xVK0oo06d5U6DpQZ7PV7lMxH7LkaQAbYFwryzAAAAAElFTkSuQmCC),auto;
    }
    .cursor-you { 
        cursor:url(../careers/cursor-you.png) 1 1, auto;
    }



/* Tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
  }
  
  [data-tooltip]:before {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 4px 8px;
    min-width: 160px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #00153E;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
  
  [data-tooltip]:after {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #00153E;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
  
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
