* {
    -webkit-font-smoothing: antialiased;
}

.main img {
    border-radius: 8px;
}

h1.styled {
    font-size: 36px;
    margin-top: 0 !important;
    padding-top: 0;
    font-family: Inter;
}

.mt-80 {
    margin-top: 80px;
}
.mb-80 {
    margin-bottom: 80px;
}

.m-40 {
    margin: 60px 0px;
}

.landing-768 {
    .VPDoc:not(.has-aside, .has-sidebar) > .container > .content, 
    .VPDoc:not(.has-sidebar) .container {
        max-width: 768px !important;
    }
    
}